[Unit]
Description=Mongo Data Volume Service
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service

[Service]
User=core
# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull jaigouk/data-only-container
ExecStartPre=-/usr/bin/docker rm mongo-data%i
ExecStart=/usr/bin/docker run --rm --name mongo-data%i jaigouk/data-only-container
ExecStop=/usr/bin/docker stop mongo-data%i
ExecStopPost=-/usr/bin/docker rm mongo-data%i

Restart=always
RestartSec=10s

[X-Fleet]
X-Conflicts=%p@*.service
Conflicts=%p@*.service
