[Unit]
Description=Telescope Service
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service

[Service]
User=core
TimeoutStartSec=0

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill telescope-%i
ExecStartPre=-/usr/bin/docker rm -f telescope-%i
ExecStartPre=/usr/bin/docker pull  jaigouk/telescope

ExecStart=/bin/bash -c '/usr/bin/docker run --name telescope-%i \
                        -p 3333:3000 \
                        --memory="512m" \
                        -e MONGO_URL="$(etcdctl get /mongo/replica/url)" \
                        -e ROOT_URL="http://127.0.0.1" \
                        jaigouk/telescope; \
'

ExecStop=/usr/bin/docker stop -t 3 telescope-%i

Restart=always
RestartSec=10s

[X-Fleet]
Conflicts=%p@*.service
MachineOf=mongo-data@%i.service